h1 {
  color: red;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
.not {
  text-decoration: underline;
}

.del {
  transition: 0.2s;
}

.del:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
